div, p {
    margin: 0;
}
.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem
}
.card {
    width: 180px;
    height: 288px;
    border-radius: 8px;
}
.innerImg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 180px;
    height: 140px;
    background-color: #B8B8B8;
}
.innerImg img {
    width: 90px;
    height: 130px;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 180px;
    height: 148px;
    background-color: var(--black);
    color: var(--white);
}
.jenre {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 10.85px;
}
.title {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15.39px;
}
.author {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 10.99px;
}
.description p {
    padding: 8px 0 0 8px;
}
.add {
    margin-left: 8px;
    margin-top: auto;
    cursor: pointer;
}